#details{
    background: url(../images/guy_with_phone.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.first-detail-box{
    background-color: rgba(234, 204, 29, 1);
    border-radius: 1rem 1rem 0 0;
}
.detail-1{
    background: linear-gradient(148.79deg, rgba(119, 134, 189, 0.8) 0%, rgba(91, 103, 145, 0.8) 100%);
    border-radius: 1rem;
}
.second-detail-box{
    background: rgba(44, 61, 123, 0.8);
    filter: drop-shadow(0px 3.78734px 23.6709px rgba(0, 0, 0, 0.25));
    border-radius: 0 0 1rem 1rem;
}
.detail-1 input{
    border-radius: 0.5rem;
}
.detail-1 select{
    border-radius: 1rem;
}
select option{
    font-size: 20px;
}
.detail-1 input::placeholder{
    color:#2C3D7B;
}
.highlight{
    transform: scale(1.2);
}

img{
    transition: all 0.5s;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.eta input{
    width: 45px;
    height: 40px;
    border-radius: 0.5rem;
}
.detail-2{
    background: linear-gradient(148.79deg, rgba(119, 134, 189, 0.8) 0%, rgba(91, 103, 145, 0.8) 100%);
    border-radius: 1rem;
}
.slide-btn{
    width: 20%;;
}
.delivery-1 input{
    border-radius: 1rem;
}
.delivery-1 input::placeholder{
    color:#2C3D7B;
}
.delivery-1{
    background: linear-gradient(148.79deg, rgba(119, 134, 189, 0.8) 0%, rgba(91, 103, 145, 0.8) 100%);
    border-radius: 1rem;
}