/* THESE STYLES ARE FOR THE MAIN INDEX.HTML FILE */
body{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.preloader{
    height: 100vh;
    width: 100%;
    background:#071225 url(../images/cyqle-loader.gif) no-repeat center;
    background-size: 50%;
    position: fixed;
    z-index: 100;
}
.preloader img{
    width: 20%;
}
.preloader p{
    position: absolute;
    color: white;
    bottom: 10rem;
}

.navpanel{
    position: fixed;
    left: -250px;
    height: 100%;
    width: 250px;
    background: linear-gradient(175.83deg, rgba(44, 61, 123, 0.85) 0%, rgba(65, 88, 173, 0.85) 100%);
    transition: all 0.5s ease;
    z-index: 99;
    top:0;
}
.navpanel header{
    font-size: 22px;
    color:white;
    text-align: center;
    line-height: 70px;
    user-select: none;
    background: rgba(27, 37, 73, 0.8);
}
.navpanel ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color:white;
    padding-left: 40px;
    box-sizing: border-box;

}

.navpanel ul a:hover{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.055) 0%, rgba(255, 255, 255, 0.11) 100%);
    border-radius: 15px;
}
.navpanel ul a i{
    margin-right: 16px;
}
#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    transition: all 0.5s;

}
label #btn{
    left: 0px;
    top:5px;
    font-size: 35px;
    color:#15FF56    ;
    padding: 6px 12px;
}
label #cancel{
    z-index: 111;
    left: -195px;
    top:17px;
    font-size: 30px;
    color:#15FF56    ;

}
.nav-logo{
    width: 22%;
}
.fa-user-circle{
    color:#15FF56;
    transition: all 0.5s;
    font-size: 35px;
}

#check:checked ~ .navpanel{
    left: 0px;
}



#check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 195px;
}

.dashboard{
    width: 0px;
    height: 0px;
    right: -220px;
    top:-200px;
    position: absolute;
    transition: all 0.3s linear;
    z-index: 105;
}
.first-dashboard{
    background-color: rgba(38,52,97,1);
    border-radius: 10px 0 0 0;
}
.first-dashboard-content{
    transform: translateX(200px);
    transition: all 1s;
}

.second-dashboard{
    background: linear-gradient(175.83deg, rgba(44, 61, 123, 1) 0%, rgba(65, 88, 173, 0.85) 100%);
    border-radius: 0 0 10px 10px;
}

.second-dashboard-content{
    transform: translateX(220px);
    transition: all 1s;
}

.dashboard{
    overflow: hidden;}

/* .fa-user-circle{
    position: relative;
    z-index: 106;
    transform: translatex(-80px);
} */
nav{
    background-color: #2C3D7B;
}
nav svg{
    width: 24%;
    fill: #15FF56;
}

#home{
    background-color: #BCFFFc;
}
#home h1,h2{
    color:#2C3D7B;
}

#login{
    background: #BCFFFc url(../images/bike_with_man.png);
    background-size: 100%;
    background-repeat: no-repeat;
    color:#2C3D7B;
    text-align: center;
    padding: 120px 60px;
    text-decoration: none;
    height: 100vh;
    

}
.login-container{
    padding: 0.5rem 0 1rem 0;
    background-color: rgba(234, 204, 29, 0.7);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}
#login button{
    border-color: #2C3D7B;
    width: 60%;
    text-decoration: none;

}
.login{
    margin: 1rem;
    width: 100%;
}
.login:last-child{
    background-color:#2C3D7B;
    color:white;
}

/* START OF TYPES PAGE */
#select{
    background: #BCFFFc url(../images/guy_with_phone.png);
    background-size: cover;
    height: 100vh;
}
.outer-card-container{
    border-radius: 0 0 1rem 1rem;
}
.first-box{
    background-color: rgba(234, 204, 29, 1);
    border-radius: 1rem 1rem 0 0;
}
.second-box{
    background: rgba(44, 61, 123, 0.8);
    box-shadow: 0px 3.39394px 21.2121px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 1rem 1rem;


}
.inner-card{
    background: linear-gradient(148.79deg, rgba(119, 134, 189, 0.8) 0%, rgba(91, 103, 145, 0.56) 100%);
}

.inner-card:hover{
    border: 1px solid white;
}

.select-continue{
    background: rgba(44, 61, 123, 0.8);
    width: 15%;
    border-radius: 100%;
    text-align: center;
}


/* END OF TYPES PAGE */


